backend/score_detection/__pycache__
backend/score_detection/videos/*
backend/score_detection/output/*
backend/score_detection/uploads/*
backend/score_detection/weights/*
backend/score_detection/config.*
backendscore_detection/screenshots/*
