.Court-header {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

.Court-prompt {
  color: red;
  display: flex;
  flex-direction: row;
}

.Court-image {
  height: 30vh;
  cursor: crosshair;
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  position: relative;
}

.Court-dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.Court-button {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  background-color: red;
}

.Court-button:hover {
  background-color: rgb(195, 99, 99);
}

.Court-instructions {
  font-size: 1.2rem;
  font-weight: 400;
}

.Court-frameSelection {
  display: flex;
  flex-direction: row;
  column-gap: 37.5%;
}

.Court-frameButton {
  cursor: pointer;
}

.Court-frameButton:hover {
  text-decoration: underline;
}
