.VD-background {
  display: flex;
  flex-direction: column;
}

.VD-videoContainer {
  display: flex;
  flex-direction: column;
  width: 65vw;
  /* height: 75vh; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-left: 3vw;
  position: relative;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.VD-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  align-content: center;
}

.VD-overlay {
  width: 100%;
  height: 100%;
  background: lightgray;
  opacity: 50%;
}

.VD-uploading {
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  color: black;
  background-color: lightblue;
  width: 30%;
  height: 10%;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 35%;
}

.VD-videoContainer video {
  display: flex;
  align-self: center;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.VD-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 3vh; */
}

.VD-timestampTitle {
  font-weight: 600;
  font-size: calc(10px + 2vmin);
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.VD-timestampsContainer {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.VD-scoringTimestamp {
  width: 5vw;
  height: 4vh;
  background-color: green;
  color: white;
  border-radius: 10px;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.VD-scoringTimestamp:hover {
  background-color: #c2bbbb;
}

.VD-shootingTimestamp {
  width: 5vw;
  height: 4vh;
  background-color: red;
  color: white;
  border-radius: 10px;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.VD-shootingTimestamp:hover {
  background-color: #c2bbbb;
}

.VD-error {
  font-size: calc(30px + 2vmin);
  font-weight: 600;
  color: red;
  display: flex;
  align-self: center;
  margin-top: 35vh;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.VD-spinner {
  width: 36px;
  height: 36px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.VD-spinner-square {
  width: 48px;
  height: 48px;
  position: relative;
}

.VD-spinner-square::before,
.VD-spinner-square::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  animation: squares 1s infinite;
}

.VD-spinner-square::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes squares {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(28px, 0) rotate(90deg);
  }
  50% {
    transform: translate(28px, 28px) rotate(180deg);
  }
  75% {
    transform: translate(0, 28px) rotate(270deg);
  }
}
